body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Förhindra scrollning */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 650px; /* Öka maxbredden för att ta hänsyn till padding */
    padding-right: 20px; /* Lägg till padding till höger om spelområdet */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Lägg till lite avstånd mellan kontrollerna och spelplanen */
}

canvas {
    border: 1px solid black;
    width: 100%;
    height: auto;
    max-width: 600px;
}

/* Stilar för instruktionerna längst ned */
.instructions {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    max-width: 600px;
}

/* Anpassa canvas för mindre skärmar */
@media (max-width: 600px) {
    #gameCanvas {
        width: 90%;
        height: auto;
    }
}
